---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=0&key=a40b7a8012ff42098bf203051240501&q=48.8567,2.3508
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999873'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 17:39:29
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 1c5f495dd552827ba2262317f39d489e
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Paris","region":"Ile-de-France","country":"France","lat":48.86,"lon":2.35,"tz_id":"Europe/Paris","localtime_epoch":1705426730,"localtime":"2024-01-16
        18:38"},"current":{"last_updated_epoch":1705426200,"last_updated":"2024-01-16
        18:30","temp_c":0.0,"temp_f":32.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":130,"wind_dir":"SE","pressure_mb":1007.0,"pressure_in":29.74,"precip_mm":0.0,"precip_in":0.0,"humidity":69,"cloud":0,"feelslike_c":-2.4,"feelslike_f":27.8,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":7.1,"gust_kph":11.4},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":2.5,"maxtemp_f":36.5,"mintemp_c":-0.9,"mintemp_f":30.5,"avgtemp_c":0.3,"avgtemp_f":32.6,"maxwind_mph":5.4,"maxwind_kph":8.6,"totalprecip_mm":0.01,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":65,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":1.0},"astro":{"sunrise":"08:38
        AM","sunset":"05:23 PM","moonrise":"11:25 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1705359600,"time":"2024-01-16
        00:00","temp_c":-0.2,"temp_f":31.7,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":0.7,"wind_kph":1.1,"wind_degree":218,"wind_dir":"SW","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":72,"cloud":25,"feelslike_c":-0.2,"feelslike_f":31.7,"windchill_c":-0.2,"windchill_f":31.7,"heatindex_c":-0.2,"heatindex_f":31.7,"dewpoint_c":-4.7,"dewpoint_f":23.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":1.2,"gust_kph":2.0,"uv":1.0,"short_rad":0.0,"diff_rad":0.0},{"time_epoch":1705363200,"time":"2024-01-16
        01:00","temp_c":-0.4,"temp_f":31.3,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":1.1,"wind_kph":1.8,"wind_degree":185,"wind_dir":"S","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":73,"cloud":14,"feelslike_c":-0.4,"feelslike_f":31.3,"windchill_c":-0.4,"windchill_f":31.3,"heatindex_c":-0.4,"heatindex_f":31.3,"dewpoint[...]
